@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");

  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  min-height: 100%;
  min-width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  color: #000000;
}

/* Скрыть заголовки с классом visually-hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-wrapper {
  box-shadow: 0px 0px 15px #cccccc;
}

.page-header,
.page-footer {
  background-color: #FFFFFF;
  color: #000000;
  width: 1200px;
  margin: 0 auto;
}

/* Навигация*/

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 435px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-item {
  list-style-type: none;
  margin-right: 9px;
}

.navigation-item:nth-child(3n) {
  margin-right: 0;
}

.navigation-link {
  position: relative;
  color: inherit;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 6px 12px;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.navigation-link:active {
  color: #756257;
  opacity: 0.3;
  outline: none;
}

.navigation-item:nth-child(3n+1) {
  padding-left: 59px;
}

.navigation-user {
  max-width: 255px;
  margin-left: auto;
}

.navigation-user .navigation-item:first-child {
  padding-left: 0;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
  padding: 10px 10px;
}

.condition {
  width: 100%;
  box-sizing: border-box;
}

.condition:hover {
  color: #FFFFFF;
  background: #615048;
  border-radius: 4px;
}

.condition:focus {
  color: #FFFFFF;
  background: #615048;
  border-radius: 4px;
}

.condition:active {
  color: #FFFFFF;
  opacity: 0.3;
  background: #615048;
  border-radius: 4px;
}

/* Добавим иконки в меню навигации */

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-icon:hover,
.navigation-icon:focus {
  fill: #756257;
}

.navigation-count {
  position: absolute;
  display: flex;
  background-color: #7DB550;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-repeat: no-repeat;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.1em;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  left: 20px;
  top: -2px;
  z-index: 2;
}

.navigation-user li:nth-of-type(3) {
  background-color: #756257;
  color: #FFFFFF;
  border-radius: 4px;
  width: 160px;
  text-align: center;
}

.navigation-user:nth-child(3) {
  padding-right: 72px;
}

.logo {
  display: block;
  padding-left: 96px;
}

/* Кнопки карточек каталога и ссылок навигации на первой и второй странице*/

.button-small,
.hotel-card-button {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
  margin: 0 auto;
  width: 1200px;
}

.main-index {
  background-color: #FFFFFF;
  color: #333333;
}

.main-wrap {
  background: url("../img/welcome.png") no-repeat top 51px center,
              url("../img/divider.png") no-repeat center top 429px,
              url("../img/index-background.jpg") no-repeat;

  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 720px;
  margin: 0;
  padding-top: 548px;
  margin-bottom: 23px;
}

.main-description {
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  margin: 0;
  padding-bottom: 79px;
  width: 720px;
}

/* Преимущества*/

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items:center;
}

.advantages-item {
  list-style-type: none;
  align-self: center;
  display:inline-block;
  min-height: 100%;
}

.advantages-user {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

h3.advantages-title {
  padding-top: 98px;
  margin-bottom: 25px;
  width: 172px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-number {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.advantages-description {
  margin: 0;
}

p.advantages-description {
  width: 220px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 95px;
}

p.wide {
  width: 250px;
  margin-bottom: 89px;
}

p.big {
  margin-bottom: 116px;
}

h4.advantages-title {
  padding-top: 184px;
  margin-bottom: 20px;
}

.color-container {
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.element {
  display: flex;
}

.element-reverse {
  display: flex;
  flex-direction:row-reverse;
}

.blue-theme {
  background: #83B3D3;
  color: #FFFFFF;
}

.grey-theme {
  background-color: #f0f6fa;
  color: #333333;
}

.white-theme {
  background-color: #FFFFFF;
  color: #333333;
}

.dark-theme {
  background-color: #e6f0f6;
  color: #333333;
}

.advantages-user .advantages-item:nth-of-type(1) .advantages-title {
  background-image: url("../img/home.svg");
  background-repeat: no-repeat;
  background-position: top 89px center;
}

.advantages-user .advantages-item:nth-of-type(2) .advantages-title {
  background-image: url("../img/food.svg");
  background-repeat: no-repeat;
  background-position: top 89px center;
}

.advantages-user .advantages-item:nth-of-type(3) .advantages-title {
  background-image: url("../img/present.svg");
  background-repeat: no-repeat;
  background-position: top 89px center;
}

/* Подписка, поиск гостиницы*/

.search {
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 91px;
  padding-bottom: 91px;
}

.subscription {
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.search-title,
.subscription-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

h2.search-title {
  margin-bottom: 29px;
}

p.search-description {
  margin: 0;
  margin-bottom: 58px;
  margin-left: auto;
  margin-right: auto;
  width: 720px;
}

.search-description,
.subscription-description {
  font-weight: normal;
}

.button {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-width: 0;
  cursor: pointer;
}

.search-button {
  line-height: 36px;
  background-color: #756257;
  border-radius: 10px;
  width: 575px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}

.search-button:hover {
  background: #615048;
}

.search-button:focus {
  background: #615048;
  outline: 3px solid #83B3D3;
}

.search-button:active {
  /* допустима ли замена  color: #FFFFFF;
                          opacity: 0.3;
                          на color: #b3b3b3; через конвертер цветов hex - RGBA? Почему при указании первых двух строк для псевоэлемента active opacity действует на всю кнопку а не на текст?
  */
  color: #b3b3b3;
  background: #615048;
}

.set-theme {
  background-image: url("../img/subscription.jpg");
  background-repeat: no-repeat;
  color: #FFFFFF;
  width: 1200px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.headline-index {
  margin-bottom: 29px;
}


p.subscription-description {
  margin: 0;
  margin-bottom: 46px;
  margin-left: auto;
  margin-right: auto;
  width: 540px;
}

.subscription-email {
  margin: 0;
  display: flex;
  justify-content: center;
}

.subscription-button {
  line-height: 26px;
  background: #83B3D3;
  width: 200px;
  border-radius: 0px 10px 10px 0px;
  height: 60px;
}

.subscription-button:hover {
  background: #68A2CA;
}

.subscription-button:focus {
  background: #68A2CA;
  border: 3px solid #756257;
}

.subscription-button:active {
  color: rgba(255, 255, 255, 0.3)
}

.field {
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  background: #F2F2F2;
  border-radius: 10px 0 0 10px;
  width: 600px;
  border-width: 0;
  margin: 0;
  padding: 0;
  padding-left: 22px;
}

.field:hover {
  background: #E6E6E6;
}

.field:focus {
  outline: 3px solid #83B3D3;
  background: #E6E6E6;
}

.field:active {
  outline: none;
  background: #FFFFFF;
  border: 2px solid #000000;
}

input:invalid {
  outline: none;
  background: #FFFFFF;
  border: 2px solid #FF5757;
}


.btn {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-width: 0;
  display: block;
}

/* footer*/

.page-footer {
  width: 1200px;
  margin: 0 auto;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
}

.footer-social {
  max-width: 136px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-contact {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.footer-contact-phone {
  text-decoration: none;
  color:  #000000;
  padding: 15px;
  display: inline-block;
}

.footer-contact-phone:hover {
  color: #756257;
}

.footer-contact-phone:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.footer-contact-phone:active {
  color: #756257;
  opacity: 0.3;
  outline: none;
}

.social-button {
  position: relative;
  display: block;
  height: 40px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-icon:hover {
  fill: #68A2CA;
}

.social-button:focus {
  fill: #68A2CA;
  box-sizing: border-box;
  outline: 3px solid #68A2CA;
  border-radius: 10px;
}

.social-button:active {
  fill: #68A2CA;
  opacity: 0.3;
  outline: none;
}

.footer-link {
  position: relative;
  display: block;
  background-color: #FFFFFF;
  width: 115px;
  height: 34px;
  padding: 10px;
}

.footer-logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.footer-logo:hover {
  fill: #756257;
}

.footer-link:focus {
  fill: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.footer-link:active {
  fill: #756257;
  opacity: 0.3;
  outline: none;
}

/* Стилизация каталога */

.main-inner {
  background-color: #FFFFFF;
  color: #000000;
}

.inner-wrap {
  background-image: url("../img/catalog-background.jpg");
  background-repeat: no-repeat;
  color: #FFFFFF;
  font-style: normal;
  display: flex;
  flex-direction: column;
  margin-bottom: 44px;
}

.inner-wrap {
  padding-top: 35px;
  padding-bottom: 67px; /* по макету 83px, обратить внимание на .inner-header-title {line-height: 78px;} 83-10=73
                                                                .breadcrumbs-item {height: 27px;} 73-6=67
                                                                кнопка в стайлгайде вложена в рамку */
}

.inner-header-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-left: 71px;
  margin-bottom: 5px;
}

.breadcrumbs {
  margin: 0;
  display: flex;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 45px;
}

.breadcrumbs-item:first-child {
  margin-left: 73px;
  margin-right: 26px;
  width: 28px;
  height: 27px;
}

/* Фильтры, карточки гостинииы */

.catalog-filter-form {
  display: flex;
  justify-content: space-between;
  width: 1056px;
  margin-left: auto;
  margin-right: auto;
}

.catalog-filter-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  box-sizing: border-box;
  padding: 0;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border-width: 0;
}

.catalog-filter-group:first-child {
  margin-right: 67px;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 216px;
}

.catalog-filter-group:nth-child(3) {
  width: 287px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
}

.catalog-filter-item,
.select-control,
.hotel-card-type,
.hotel-card-price {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-item:first-child {
  padding-top: 30px;
}

.catalog-filter-size {
  margin-bottom: 13px;
}

.catalog-filter-size:last-child {
  margin-bottom: 0;
}

.button-box {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding-top: 34px;
}

.button-accept {
  background-color: #83B3D3;
  color: #FFFFFF;
  border-radius: 4px;
  width: 160px;
  height: 48px;
  margin-bottom: 20px;
}

.button-escape {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  width: 160px;
  height: 32px;
  color: #FFFFFF;
  background-color: transparent;
}

.button-filter {
  text-decoration: none;
  border-width: 0;
}

.sorting {
  display: flex;
  margin-bottom: 42px;
  align-items: center;
  width: 1056px;
  margin-left: auto;
  margin-right: auto;
}

.sorting-search {
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  margin-right: 192px;
}

.sorting-type {
  margin-right: auto;
}

.sorting .button-sort {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.sorting .button-current {
  margin-right: 0;
  border: 2px solid #000000;
}

.select-control {
  width: 287px;
  height: 48px;
  box-sizing: border-box;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card {
  margin-bottom: 61px;
  display: flex;
  flex-direction: column;
}

/* Карточки каталога */

.hotel-card-list {
  padding: 0;
  margin: auto;
  width: 1056px;
  display: grid;
  row-gap: 58px;
  margin-bottom: 61px;
}

.hotel-card-item {
  display: grid;
  grid-template-columns: 180px auto 160px;
  column-gap: 36px;
}

.card-link-image {
  grid-column: 1/2;
  margin: 0;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-image {
  display: block;
  margin-top: 3px;
}

.card-box {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
}

.hotel-card-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin: 0;
}

.hotel-card-wrap {
  margin: 0;
  display: flex;
}

.hotel-card-type {
  min-width: 159px;
}

.hotel-button-box {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  padding-top: 31px;
}

.stars-rating {
  display: flex;
  flex-direction: column;
  grid-column: 3/4;
  align-items: center;
}

.show-rating {
  display: flex;
  min-height: 31px;
  align-items: center;
}

.button-rating {
margin-top: auto;
}

.show-rating-image {
  margin-right: 7px;
}

.show-rating-image:last-child {
  margin-right: 0;
}

.button-size {
  border-radius: 4px;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
}

.button-description {
  background-color: #756257;
  width: 151px;
  margin-right: 8px;
}

.button-favorites {
  background-color: #83B3D3;
  width: 160px;
}

.button-favorites-add {
  background-color: #7DB54F;
  width: 160px;
}

.hotel-card-button:not(:last-child) {
  margin-right: 8px;
}

.button-rating {
  font-weight: normal;
  background-color: #F2F2F2;
  color: #333333;
  width: 160px;
}

/* пагинация */

.button-pagination,
.pagination-link  {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #83B3D3;
  color: #FFFFFF;
  border-radius: 4px;
  border-width: 0;
  text-decoration: none;
}

.wide-button {
  width: 625px;
  height: 55px;
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
  align-self: center;
}

.pagination-item {
  width: 55px;
  height: 55px;
  background-color: #83B3D3;
  color: #FFFFFF;
  border-radius: 4px;
}

a.pagination-link {
  display: block;
  padding: 14px 20px 15px;
}

.pagination-box {
  display: flex;
  width: 1056px;
  margin: 0 auto;
  margin-bottom: 89px;
}

.pagination-list {
  display: flex;
  width: 370px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-container {
  margin-left: auto;
  width: 386px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-select {
  width: 160px;
  height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  padding-left: 17px;
}

.headline-catalog {
  margin-bottom: 15px;
}

.catalog-theme {
  width: 800px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}
